<!DOCTYPE html>
<html>
<head>
  <title>JobsSequence</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body ng-app="jobsSequence" ng-controller="MainCtrl">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="page-header">
        <h1>Jobs Sequence</h1>
      </div>
      <div ng-repeat="job in jobs">
        <span style="font-size:20px; margin: 10px;">
          <span class="label label-info">{{$index}}</span> {{job.sign}}
        </span>
      </div>

      <div class="input-group" style="margin-top: 10px;">
        <span class="input-group-addon" ng-click="addJob()"><i class="glyphicon glyphicon-plus"></i></span>
        <input type="text" class="form-control" placeholder="Add job (with dependency) ..." ng-keyup="$event.keyCode == 13 && addJob()" ng-model="job_sign"></input>
      </div>
      <form ng-submit="createList()" style="margin-top:30px;">
        <input type="hidden"></input>
        <button type="submit" class="btn btn-primary">Create list</button>
      </form>
      <div class="jumbotron" style="margin-top:30px;">
        <h3 style="text-align: center;">Jobs sequence is:</h3>
        <h1 style="text-align: center;"><span class="label label-info">{{result}}</span></h1>
      </div>

    </div>
  </div>
</body>
</html>